.container {
  width: 50%;
}
fieldset {
  background-color: #acdac0;
}
table th {
  background-color: #acdac0;
  width: 20%;
  text-align: center;
}
table td {
  width: 20%;
  text-align: center;
}
select {
  width: 100%;
}
#uang {
  width: 93%;
}
